<!DOCTYPE html>
<html>
<head>
    <title>Requirement Risk Analyzer</title>

    <link
        rel="stylesheet"
        href="/static/styles.css"
    >
</head>
<script>
window.addEventListener("DOMContentLoaded", () => {

    document
        .getElementById("file-upload")
        .addEventListener("change", function() {

            const files = [...this.files];

            const fileNames = files.map(
                file => file.name
            );

            document.getElementById(
                "selected-files"
            ).innerText =
                fileNames.length > 0
                    ? fileNames.join(", ")
                    : "No files selected";
        });

});
</script>
<body>

    <h1>Requirement Risk Analyzer</h1>

    <p class="subtitle">
        Identify requirement gaps, risks and architecture concerns before development begins.
    </p>

    <div class="card">

        <form action="/analyze"
              method="post"
              enctype="multipart/form-data">

            <label>
                Upload Requirement Documents
            </label>

            <br><br>

            <label for="file-upload" class="custom-file-upload">
                Select Documents
            </label>

            <input
                id="file-upload"
                type="file"
                name="files"
                multiple
                required
            >

            <div id="selected-files">
                No files selected
            </div>

            <br><br>

            <button type="submit">
                Analyze Requirements
            </button>

        </form>

    </div>

</body>
</html>